<form #myForm = "ngForm">

  <div>
    <label for="">Nombre:</label>
    <input type="text" id="name" name="name" [(ngModel)]="person.name" #name="ngModel">
    <p> {{person.name}} </p>
  </div>
  <br>

  <div>
    <label for="">Apellido:</label>
    <input type="text" id="lastname" name="lastname" [(ngModel)]="person.lastname" #lastname="ngModel">
    <p> {{person.lastname}} </p>
  </div>
  <br>

  <div>
    <label for=""> Edad: </label>
    <input type="number" id="age" name="age" [(ngModel)]="person.age" #age="ngModel">
    <p> {{person.age}} </p>
  </div>
  <br>
  
  <div>
    <label for=""> Casado: </label>
    <input type="checkbox" id="married" name="married" [(ngModel)]="person.married" #married="ngModel">
    <p> {{person.married}} </p>
  </div>
  <br>
  
  <div>
    <label for=""> País: </label>
    <select name="country" id="country" name="country" [(ngModel)]="person.country" #country="ngModel">
      <option [value]="country.id" *ngFor="let country of countries"> {{country.name}} </option>
    </select>
    <p> {{person.country}} </p>
  </div>
  <br>
  
</form>

<router-outlet></router-outlet>
